{% extends "base.html" %}
{% block content %}

    <div class="container bordered">

        <div class="row">
            <br>
            <div class="col s12"><span class="flow-text"><b>Абдуллоҳ Домла ҳақида</b></span></div>

        </div>
        <p>Ассалому алайкум ҳурматли толиби илм!</p>

        <p>“Илм Нури” вебсаҳифасидан олаётган билимингизга сабабчи бўлаётган Абдуллоҳ Домланинг ҳақида қисқа маълумот.</p>

        <p>Абдуллоҳ Домла тахаллуси билан танилган даъий воизнинг асл исми Абдуғани. 1973–йили Ўш шаҳрида туғилган бўлиб, илм кўчасига 16 ёшда кирган ва дунёвий ва диний билимларни Ўшдаги устозлардан олган. Шунингдек, домла Ўш давлат университетнинг “Ўзбек гуманитар педагогика (қўшимча журналистика) факультети”ни тамомлаган. Сайтга жойлаштирилган маърузаларни тайёрлашда Ҳанафий мазҳабидан замонамиз таниқли олимлари ва аввалги уламо китобларидан фойдаланади.</p>

        <p>Абдуллоҳ Домла футбол ва стол теннисига қизиқади. “Абдуллоҳ Домланинг расмлари борми?” деган саволга “Ҳа, албатта, бор… уйда”, деб жавоб берди. Шахсан ўзи билан кўришмоқчи ва савол бермоқчи бўлганлар ҳар жума куни Жумъа намозидан сўнг “Абу Ҳанифа Масжидида” кўришиши мумкин. Мазкур масжид Ўшнинг Нурдор қишлоғида жойлашган (http://ilmnuri.com вебсаҳифасининг энг қуйи қисмида ҳаритага қаранг)</p>

        <div class="divider"></div>
    </div>

    <div id="disqus_thread" class="container bordered"></div>

{% endblock %}