{% extends "base.html" %}
{% block content %}

    <div class="container bordered">

        <div class="row">
            <br>
            <div class="col s12"><span class="flow-text"><b>МУАЛЛИФЛИК ҲУҚУҚЛАРИ ҲАҚИДА</b></span></div>

        </div>
        <p>
            Саҳифамиздаги манбаълардан Оллоҳ ризолиги йўлида фойдаланишда ҳеч қандай ҳуқуқий чегара йўқ. Бироқ саҳифамиздаги аудио дарслардан ва матнлардан тижорий ва бошқа дунёвий мақсадларда фойдаланиш мумкин эмас. Шунингдек, «Илм Нури» номи ҳам ушбу саҳифага тегишли бўлиб, «www.ilmnuri.com», «ilmnuri», «ilm nuri», «ilm_nuri», «Илм Нури», «илмнури» «Илм_нури» ва/ёки ушбу икки сўзнинг бошқа ҳар қандай кўриниши бошқа ўринларда мазкур вебсаҳифадан олинган маърузалар ила баробар ишлатилиши мумкин эмас!
        </p>
        <p>
            Сизга ФАҚАТ дарсларни тинглаб ҳамда китобларни ўқиб, илм олишга чексиз ҳуқуқ берилмоқда, вебсайтнинг номи ёки логотипидан фойдаланишга эмас. Барча муаллифлик ҳуқуқлари маърузаларнинг воизлари ва китоб муаллифларига оиддир.
        </p>
        <p>
            Лутфан саҳифамиздаги ахборотни бошқа ўринларда иқтибос қилганда «www.ilmnuri.com» саҳифасидан олинди, деб кўрсатинг. Саволларингиз бўлса, расмий ilmnuri@ilmnuri.com почта орқали алоқага чиқинг. Оллоҳ Сиздан рози бўлсин!
        </p>
        <p>(Охирги ўзгартириш: 22-апрел 2016-й.)</p>

        <div class="section"></div>
        <div class="divider"></div>
    </div>

    <div id="disqus_thread" class="container bordered"></div>

{% endblock %}