<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Audio ilmnuri.com</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/favicon.ico" rel="shortcut icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

    <script type="text/javascript">
    $(function () {
        $('#chartcont').highcharts({
            title: {
                text: 'Kundalik yuklangan darsliklar xaritasi - 20 kunlik',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: <a href="http://ilmnuri.net">www.ilmnuri.net</a>',
                x: -20
            },
            yAxis: {
                title: {
                    text: 'Yuklangan Darsliklar'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'ta'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            xAxis: {
                categories: {{ dt|safe }}
            },
            series: [{
                name: 'Umumiy',
                data: {{ tt|safe }}
            }]
        });
    });
    </script>
</head>
<body>

  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"> 🎧  ilmnuri audio</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dars/Abdulloh">ABDULLOH DOMLA</a></li>
        <li><a href="/dars/AbuNur">ABUNUR DOMLA</a></li>
        <li><a href="/dars/Ayyubxon">AYYUBXON DOMLA</a></li>
        <li><a href="/sanoq">STATISTIKA</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="http://ilmnuri.com/">ilmnuri.com</a></li>
        <li><a href="/dars/Abdulloh">Abdulloh Domla</a></li>
        <li><a href="/dars/AbuNur">Abunur Domla</a></li>
        <li><a href="/dars/Ayyubxon">Ayyubxon Domla</a></li>
        <li><a href="/sanoq">Statistika</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <div id="chartcont" style="min-width: 310px; width: 100%; height: 400px; margin: 0 auto"></div>

      <div class="row">
        <div class="card-panel teal">
          <span class="white-text"> 07/10/2016 dan buyon yuklangan darsliklar yig'indisi: {{ total }} ta</span>
        </div>
      </div>

    <div class="container bordered">
        <div class="left">
           <b>30/10/2016 dan buyon yuklangan darsliklar</b>
            <table class="responsive-table bordered highlight striped left">
               <thead>
                <tr>
                     <td> # </td>
                     <td> Bayroq </td>
                     <td> Bugun </td>
                    <td> Umumiy </td>
                </tr>
               </thead>
                <tbody>
                    {% for flag in flags %}
                    {% set count = loop.index %}
                    <tr>
                        <td>{{ count }}</td>
                        <td><img src=/static/flags/{{ flag[0] }}.png /></td>
                        <td> {{ flag[1] }}</td>
                        <td> {{ flag[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
         <div class="right">
          <b>Umumiy yuklangan darsliklar soni</b>
          <table class="responsive-table bordered highlight striped right">
           <thead>
            <tr>
                 <td> Sana </td>
                 <td> Umumiy </td>
            </tr>
           </thead>
              <tbody>

              {% for item in all %}
                 <tr>
                  <td> {{ item[0] }} </td>
                  <td> {{ item[1] }} </td>
                 </tr>
              {% endfor %}

               </tbody>
          </table>
        </div>
     </div>
  <br>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Ilmnuri Audio haqida</h5>
          <p class="grey-text text-lighten-4">Abdulloh domla tashabbuslari bilan bir guruh shogirdlari siz azizlarga zamon talablariga mos ravishda darsliklarni yetkazish harakatidamiz.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Google Android</h5>
          <ul>
            <li><a class="white-text" href="https://play.google.com/store/apps/details?id=com.ilmnuri.com">ilmnuri android app</a></li>
            <li><a class="white-text" href="https://apkpure.com/ilmnuri/com.ilmnuri.com">ilmnuri.APK android formatda</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Apple iOS</h5>
          <ul>
            <li><a class="white-text" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1097246436&mt=8">ilmnuri iOS app</a></li>
            <li><a class="white-text" href="/about">Abdulloh domla haqida</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Mualliflar <a class="brown-text text-lighten-3" href="http://ilmnuri.com">Team Ilmnuri </a>&copy; 2016
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  <script>
   $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
   });
  </script>

</body>
</html>
